body {
    padding: 0;
    margin: 0;    
    background: rgb(51,43,55);
    background: radial-gradient(circle, rgba(51,43,55,1) 0%, rgba(51,43,55,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    font-family: 'MedievalSharp', cursive;
}

button {
    margin-top: .5rem;
    font-family: 'MedievalSharp', cursive;
    background-color: #fcc02a;
    border: 2px solid #963404;
    outline: none;
    padding-left:5vw;
    padding-right:5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    color:#963404;
    height:9vh;
    box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.4);
    margin: 2em 0 0 0;
}

button:active {
    background-color: #c2b28c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.container {
    width: 600px;
    text-align: center;
    margin: 4.8em;
    background: rgb(23, 12, 29, 0.7);
    padding: 8em 10em 4em 10em;
    border-radius: 20px;
}

.logo {
    width: 150%;
    margin: -90px 0 30px -140px;
}

p {
    font-size: 25px;
}

h1{
    font-size: 45px;
}

#music-btn {
    position: absolute;
    left: 0%;
    top: 0%;
    padding: 10px;
    border-radius: 100%;
    margin: 10px;
    width: 80px;
}

#music-btn > img {
    width: 40px;
    padding: 0;
    margin: 0;
}

/* Starting page for small screens */
@media only screen and (max-width: 550px) {
    #music-btn {
        position: absolute;
        left: 80%;
        top: 0%;
        border-radius: 100%;
    }

    .container {
        width: 180px;
        text-align: center;
        margin: 0;
    }

    .container > p {
        font-size: 20px;
        padding: 0;
        margin: 0;
    }
    
    .logo {
        width: 400px;
    }

}