body {
    padding: 0;
    margin: 0;    
    background: rgb(51,43,55);
    background: radial-gradient(circle, rgba(51,43,55,1) 0%, rgba(51,43,55,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    font-family: 'MedievalSharp', cursive;
    user-select: none;
}

button {
    margin-top: .5rem;
    font-family: 'MedievalSharp', cursive;
    background-color: #fcc02a;
    border: 2px solid #963404;
    outline: none;
    padding: 0 1.8rem;
    margin: 2.5rem 0 0 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    color:#963404;
    height:4rem;
    box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.4);
}


button:active {
    background-color: #c2b28c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.container {
    width: 600px;
    text-align: center;
    margin: 4vh;
    background: rgb(23, 12, 29, 0.7);
    padding: 8em 10em 4em 10em;
    border-radius: 20px;
}

.logo {
    width: 45.5rem;
    margin: -6rem 0 2rem -3rem;
}

p {
    font-size: 25px;
}

h1{
    font-size: 45px;
}

#music-btn {
    position: absolute;
    left: 0%;
    top: 0%;
    padding: .6rem;
    border-radius: 100%;
    margin: .6rem;
    width: 4rem;
    height: 4rem;
}

#music-btn > img {
    width: 40px;
    padding: 0;
    margin: 0;
}

/* Starting page for small screens */
@media(max-width:550px) {
    #music-btn {
        position: absolute;
        left: 80%;
        top: 0%;
        border-radius: 100%;
    }

    .container {
        width: 180px;
        text-align: center;
        margin: 0;
    }

    .container > p {
        font-size: 18px;
        margin-left: -6.5rem;
        min-width: 25rem;
        
    }
    
    .logo {
        width: 30rem;
        margin: -5rem 0 2rem -9rem;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px){
    #music-btn {
        position: absolute;
        left: 80%;
        right: 0%;
        top: 0%;
        border-radius: 100%;
        width: 7.5rem;
        height: 7.5rem;
        margin-left: 4rem;
    }

    #music-btn > img {
        width: 4.5rem;
        padding: 0;
        margin: 0;
    }

    .container {
        width: 40rem;
        text-align: center;
        margin: 0;
    }

    .container > p {
        font-size: 3rem;
        min-width: 30rem;
    }
    
    .logo {
        width: 59rem;
        margin: -5rem 0 2rem -9rem;
    }

    button {
        font-size: 3rem;
        margin: 2rem;
        width: 27rem;
        height: 12rem;
    }

}
