body {
    padding: 0;
    margin: 0;    
    background: rgb(51,43,55);
    background: radial-gradient(circle, rgba(51,43,55,1) 0%, rgba(51,43,55,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    font-family: 'MedievalSharp', cursive;
}

button {
    margin-top: .5rem;
    font-family: 'MedievalSharp', cursive;
    background-color: #fcc02a;
    border: 2px solid #963404;
    outline: none;
    padding-left:5vw;
    padding-right:5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    color:#963404;
    height:9vh;
    box-shadow: 0px 6px 10px -4px rgba(0,0,0,0.4);
    margin: 2em 0 0 0;
}

button:active {
    background-color: #c2b28c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.container {
    width: 600px;
    text-align: center;
    margin: 10em;
    background: rgb(23, 12, 29, 0.7);
    padding: 4em 10em 4em 10em;
    border-radius: 20px;
}

p {
    font-size: 25px;
}

h1{
    font-size: 45px;
}

.story {
    margin
}